.trip-intro, .expense-intro, .balance-intro, .members-intro, .tech-intro {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.trip-solution, .trip-summary, .expense-summary, .balance-summary, .members-summary, .tech-summary {
    font-size: 1rem;
    /*color: #555;*/
    margin-top: 10px;
}

.trip-features, .expense-details, .balance-features, .members-actions, .tech-stack {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}

.trip-actions, .expense-inputs, .balance-details {
    list-style-type: circle;
    padding-left: 30px;
}

.trip-actions li, .expense-inputs li, .balance-details li {
    margin-bottom: 5px;
}

ul.trip-features li::before,
ul.expense-details li::before,
ul.balance-features li::before,
ul.members-actions li::before,
ul.tech-stack li::before {
    content: "✔️";
    margin-right: 8px;
    color: green;
}

p.trip-summary, p.expense-summary, p.balance-summary, p.members-summary, p.tech-summary {
    border-left: 4px solid #ff9800;
    padding-left: 10px;
    font-style: italic;
}

