.section4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;

  @media (max-width: 768px) {
    background-attachment: scroll;
  }
}
