.section4 {
  background-image: url('/src/assets/backgrounds/contactBg.png');
  background-size: cover;
  //background-size: cover;
  background-repeat: no-repeat;
}

.section4Dark {

  background-image: url('/src/assets/backgrounds/darkContactBg.png');
}
