
.iconContainer {
  display: flex;
  flex-wrap: nowrap;
  height: 50vh;
  position: relative;
  justify-content: space-evenly;
  background: linear-gradient(
                  to bottom,
                  #331f23, /* Soft sunset orange */
                  #312323, /* Warm golden yellow */
                  #191923, /* Deeper warm gold */
                  whitesmoke /* Earthy brown for depth */
  );

}

.section2 {
  width: 100%;
  height: 100%;
  background-image: url('/assets/timelineBG/bg1.png'),
  url('/assets/timelineBG/bg2.png'),
  url('/assets/timelineBG/bg3.png'),
  url('/assets/timelineBG/bg4.png'),
  url('/assets/timelineBG/bg5.png');
  background-position: 0% 0%, /* First image at the top */
  0% 25%, /* Second image at 25% from the top */
  0% 50%, /* Third image at 50% from the top */
  0% 75%, /* Fourth image at 75% from the top */
  0% 100%; /* Fourth image at 75% from the top */
  //background-size: cover;
  background-size: 100% 25%, /* First image takes 25% height */
  100% 25%, /* Second image takes 25% height */
  100% 25%, /* Third image takes 25% height */
  100% 25%, /* Fourth image takes 25% height */
  100% 25%; /* Fourth image takes 25% height */
  background-repeat: no-repeat;
}


.section2Dark {
  color: white !important;
  background-image: url('/assets/backgrounds/darkModeBg.png');
}

.icon {
  width: 25%;
  height: 50vh;
  transition: fill 0.3s ease-in-out;
}

// Responsive adjustments for number of visible items
@media (max-width: 1200px) {
  .iconContainer > :nth-child(n + 8) {
    display: none !important;;
  }
  .icon {
    width: 33%;
  }

  .iconContainer img:nth-of-type(6) {
    left: 33% !important;
  }
  .iconContainer img:nth-of-type(7) {
    left: 66% !important;
  }
  .iconContainer img:nth-of-type(2) {
    left: 33% !important;
  }
  .iconContainer img:nth-of-type(3) {
    left: 66% !important;
  }

  .darkMode > :nth-child(n + 4) {
    display: none !important;;
  }
  //.iconContainer > :nth-child(n + 3) {
  //  min-width: 33% !important;
  //}
}

@media (max-width: 950px) {
  .iconContainer > :nth-child(n + 7) {
    display: none !important;
  }

  .icon {
    width: 50%;
  }

  .iconContainer img:nth-of-type(6) {
    left: 50% !important;
  }

  .iconContainer img:nth-of-type(2) {
    left: 50% !important;
  }

  .darkMode > :nth-child(n + 3) {
    display: none !important;;
  }

}

@media (max-width: 500px) {
  .iconContainer > :nth-child(n + 6) {
    display: none !important;;
  }
  .icon {
    width: 100% !important;
  }
  .darkMode > :nth-child(n + 2) {
    display: none !important;;
  }
}

.textContainer {
  //background: #fff5d6;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  //height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg width=%222000%22 height=%221400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23705340%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23937e6f%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23816246%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23a08974%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22c%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%2392714d%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23ad9479%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22d%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23a38053%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23ba9f7e%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22e%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23b58e59%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23c7aa82%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22f%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23c69d5f%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23d4b587%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22g%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23d7ac66%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23e1c08c%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22h%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23e8bb6c%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23edcc90%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22i%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f9ca72%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23fad795%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22j%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f8ce82%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f9daa1%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22k%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f7d291%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f9ddac%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22l%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f6d6a1%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f8e0b8%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22m%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f5dab1%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f7e3c4%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22n%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f3ddc0%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f6e5cf%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22o%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f2e1d0%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f5e8db%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22p%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f1e5e0%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f4ebe7%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22q%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23f0e9ef%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f3eef3%22%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient id=%22r%22 gradientTransform=%22rotate(90)%22%3E%3Cstop offset=%225%25%22 stop-color=%22%23efedff%22%2F%3E%3Cstop offset=%2295%25%22 stop-color=%22%23f3f1ff%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath fill=%22%235f443a%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cpath d=%22M0 73c61.377 3.384 122.755 6.768 183 5 60.245-1.768 119.358-8.688 181-11 61.642-2.312 125.814-.018 185 2 59.186 2.018 113.388 3.759 172 6 58.612 2.241 121.635 4.982 185 4 63.365-.982 127.074-5.688 186-7 58.926-1.312 113.071.771 171 2s119.641 1.603 184 1 131.364-2.182 190-4c58.636-1.818 108.902-3.874 177-5s154.028-1.322 188 0c33.972 1.322 15.986 4.16 38 7l-40 1327H0Z%22 fill=%22url(%23a)%22%2F%3E%3Cpath d=%22M0 147c59.922-.028 119.845-.057 182 0s126.543.2 186-2c59.457-2.2 113.982-6.74 175-5 61.018 1.74 128.53 9.76 192 13s122.9 1.696 180 1c57.1-.696 111.868-.546 170-1 58.132-.454 119.626-1.512 182-4 62.374-2.488 125.628-6.407 188-7s123.863 2.14 182 2c58.137-.14 112.922-3.153 181-3 68.078.153 149.451 3.472 182 5 32.549 1.528 16.275 1.264 40 1l-40 1253H0Z%22 fill=%22url(%23b)%22%2F%3E%3Cpath d=%22M0 221c62.018-.986 124.035-1.971 182-2 57.965-.029 111.876.9 172 1 60.124.1 126.46-.628 192-3s130.286-6.387 189-4c58.714 2.387 111.397 11.175 171 13 59.603 1.825 126.127-3.314 187-5 60.873-1.686 116.094.081 178-1 61.906-1.081 130.497-5.01 191-6 60.503-.99 112.918.962 171 4 58.082 3.038 121.83 7.164 190 7 68.17-.164 140.763-4.618 171-6 30.237-1.382 18.119.31 46 2l-40 1179H0Z%22 fill=%22url(%23c)%22%2F%3E%3Cpath d=%22M0 294c61.846-2.494 123.691-4.987 184-5 60.309-.013 119.08 2.455 178 3 58.92.545 117.985-.831 180-1 62.015-.169 126.978.87 188 3 61.022 2.13 118.101 5.348 177 4 58.899-1.348 119.617-7.264 181-8 61.383-.736 123.43 3.708 183 6 59.57 2.292 116.66 2.432 179 1s129.926-4.435 188-4c58.074.435 106.635 4.31 176 3 69.365-1.31 159.533-7.803 194-9 34.467-1.197 13.234 2.901 32 7l-40 1106H0Z%22 fill=%22url(%23d)%22%2F%3E%3Cpath d=%22M0 368c58.127 2.645 116.255 5.291 176 4 59.745-1.291 121.108-6.518 184-7 62.892-.482 127.312 3.783 189 5s120.644-.612 180-3c59.356-2.388 119.112-5.333 178-4 58.888 1.333 116.907 6.945 180 8 63.093 1.055 131.26-2.446 191-2 59.74.446 111.052 4.84 169 4 57.948-.84 122.533-6.916 181-8 58.467-1.084 110.818 2.824 181 3 70.182.176 158.195-3.378 193-4 34.805-.622 16.403 1.69 38 4l-40 1032H0Z%22 fill=%22url(%23e)%22%2F%3E%3Cpath d=%22M0 442c59.52-.257 119.04-.514 179-1 59.96-.486 120.36-1.202 181-1 60.64.202 121.518 1.32 184 0s126.566-5.08 189-4 123.217 7 181 8 112.567-2.922 170-2c57.433.922 117.515 6.687 182 5 64.485-1.687 133.373-10.825 194-12 60.627-1.175 112.993 5.613 167 10 54.007 4.387 109.656 6.373 182 4s161.384-9.107 196-11c34.616-1.893 14.808 1.053 35 4l-40 958H0Z%22 fill=%22url(%23f)%22%2F%3E%3Cpath d=%22M0 515c58.688 3.141 117.377 6.282 178 4 60.623-2.282 123.18-9.987 183-10 59.82-.013 116.9 7.666 177 10 60.1 2.334 123.216-.678 186-1 62.784-.322 125.235 2.046 185 0s116.843-8.506 179-10c62.157-1.494 129.394 1.98 192 3 62.606 1.02 120.582-.412 178-1 57.418-.588 114.277-.333 174 3s122.31 9.743 191 10c68.69.257 143.483-5.641 174-8 30.517-2.359 16.759-1.18 43 0l-40 885H0Z%22 fill=%22url(%23g)%22%2F%3E%3Cpath d=%22M0 589c61.666 1.974 123.331 3.947 184 4 60.669.053 120.341-1.816 179-2 58.659-.184 116.304 1.317 176 1 59.696-.317 121.443-2.45 181-3 59.557-.55 116.925.486 180 2s131.858 3.505 195 2c63.142-1.505 120.643-6.507 180-8 59.357-1.493 120.57.523 182 2 61.43 1.477 123.074 2.417 183 2 59.926-.417 118.134-2.19 184-4s139.39-3.66 170-3c30.61.66 18.305 3.83 46 7l-40 811H0Z%22 fill=%22url(%23h)%22%2F%3E%3Cpath d=%22M0 663c61.578-2.407 123.157-4.813 182-6 58.843-1.187 114.952-1.154 174 0s121.036 3.428 182 5 120.905 2.442 181 2c60.095-.442 120.343-2.196 184-4 63.657-1.804 130.72-3.656 194-4 63.28-.344 122.773.822 181 3 58.227 2.178 115.188 5.368 176 6 60.812.632 125.475-1.295 184-1 58.525.295 110.91 2.81 178 1s148.883-7.946 182-9c33.117-1.054 17.559 2.973 42 7l-40 737H0Z%22 fill=%22url(%23i)%22%2F%3E%3Cpath d=%22M0 736c58.102-3.25 116.203-6.501 177-5 60.797 1.501 124.289 7.753 183 9 58.711 1.247 112.642-2.513 176-3 63.358-.487 136.143 2.297 198 2 61.857-.297 112.788-3.676 173-3 60.212.676 129.707 5.405 190 7 60.293 1.595 111.385.055 171 0 59.615-.055 127.753 1.375 191-1s121.602-8.554 176-11c54.398-2.446 104.838-1.159 174 1s157.046 5.188 192 6c34.954.812 16.977-.594 39-2l-40 664H0Z%22 fill=%22url(%23j)%22%2F%3E%3Cpath d=%22M0 810c63.26 3.602 126.519 7.203 186 6 59.481-1.203 115.184-7.211 176-8 60.816-.789 126.745 3.642 191 5s126.834-.356 183-3 105.917-6.216 166-4 130.498 10.222 191 10c60.502-.222 111.092-8.67 171-10s129.136 4.462 193 5c63.864.538 122.366-4.175 182-5 59.634-.825 120.402 2.24 187 2 66.598-.24 139.028-3.783 169-4 29.972-.217 17.486 2.891 45 6l-40 590H0Z%22 fill=%22url(%23k)%22%2F%3E%3Cpath d=%22M0 884c64.067 2.184 128.134 4.368 189 4 60.866-.368 118.53-3.29 176-3 57.47.29 114.748 3.789 176 3 61.252-.789 126.48-5.865 190-5 63.52.865 125.333 7.671 184 7 58.667-.671 114.186-8.82 171-12 56.814-3.18 114.921-1.39 178 1 63.079 2.39 131.129 5.378 195 8 63.871 2.622 123.563 4.878 181 4 57.437-.878 112.618-4.89 180-7 67.382-2.11 146.966-2.317 179-2 32.034.317 16.517 1.159 41 2l-40 516H0Z%22 fill=%22url(%23l)%22%2F%3E%3Cpath d=%22M0 957c62.14-2.547 124.28-5.094 182-6 57.72-.906 111.02-.17 172 2 60.98 2.17 129.637 5.777 191 8s115.432 3.064 174 3c58.568-.064 121.636-1.033 183-3 61.364-1.967 121.026-4.933 185-4 63.974.933 132.26 5.766 193 8 60.74 2.234 113.933 1.87 174-2 60.067-3.87 127.008-11.243 187-13 59.992-1.757 113.036 2.104 179 5s144.847 4.827 177 5c32.153.173 17.577-1.414 43-3l-40 443H0Z%22 fill=%22url(%23m)%22%2F%3E%3Cpath d=%22M0 1031c56.573 2.433 113.147 4.865 172 3 58.853-1.865 119.986-8.029 184-8 64.014.029 130.91 6.25 195 8s125.372-.972 185-2 117.601-.36 175-1 114.222-2.586 173-2c58.778.586 119.51 3.704 183 6 63.49 2.296 129.74 3.77 190 2 60.26-1.77 114.534-6.784 172-10 57.466-3.216 118.126-4.635 190-3 71.874 1.635 154.964 6.324 187 8 32.036 1.676 13.018.338 34-1l-40 369H0Z%22 fill=%22url(%23n)%22%2F%3E%3Cpath d=%22M0 1105c54.862 3.243 109.725 6.485 173 6 63.275-.485 134.964-4.699 197-5 62.036-.301 114.42 3.31 175 4s129.354-1.544 190-4c60.646-2.456 113.165-5.136 173-4 59.835 1.136 126.988 6.088 188 8s115.885.782 176 0c60.115-.782 125.473-1.218 187-4s119.224-7.91 178-6c58.776 1.91 118.632 10.86 188 11 69.368.14 148.248-8.532 179-11 30.752-2.468 13.376 1.266 36 5l-40 295H0Z%22 fill=%22url(%23o)%22%2F%3E%3Cpath d=%22M0 1178c65.282-4.181 130.563-8.362 190-7 59.437 1.362 113.028 8.267 170 11 56.972 2.733 117.325 1.293 182-2s133.674-8.441 193-7c59.326 1.441 108.98 9.47 168 10 59.02.53 127.407-6.441 188-8 60.593-1.559 113.393 2.294 173 4s126.022 1.267 190 2c63.978.733 125.52 2.64 183 3 57.48.36 110.898-.826 177-1 66.102-.174 144.886.665 178 0 33.114-.665 20.557-2.832 48-5l-40 222H0Z%22 fill=%22url(%23p)%22%2F%3E%3Cpath d=%22M0 1252c64.678 1.018 129.356 2.036 189 4 59.644 1.964 114.254 4.874 172 3 57.746-1.874 118.628-8.533 181-11 62.372-2.467 126.234-.742 185 1 58.766 1.742 112.437 3.502 175 6s134.017 5.733 195 4c60.983-1.733 111.494-8.436 172-9 60.506-.564 131.006 5.009 192 7 60.994 1.991 112.483.4 169-1 56.517-1.4 118.062-2.608 189-4s151.268-2.97 183-3c31.732-.03 14.866 1.485 38 3l-40 148H0Z%22 fill=%22url(%23q)%22%2F%3E%3Cpath d=%22M0 1326c59.123-2.71 118.245-5.421 180-3 61.755 2.421 126.141 9.975 186 9 59.859-.975 115.19-10.48 173-11 57.81-.52 118.096 7.942 181 9 62.904 1.058 128.424-5.29 192-6 63.576-.71 125.208 4.22 184 6 58.792 1.78 114.744.413 173 0s118.817.127 183 0 131.987-.92 191-2c59.013-1.08 109.234-2.444 175-4s147.076-3.302 180-3c32.924.302 17.462 2.65 42 5l-40 74H0Z%22 fill=%22url(%23r)%22%2F%3E%3C%2Fsvg%3E");

}

.textContainerInner {
  font-family: 'Zain';
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
}

.title {
  text-align: center;
  //display: flex;
  min-width: 100%;

  align-items: center;
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: 770px) {
    font-size: 3rem;
  }
}

.description {
  font-size: 1.5rem;
  white-space: nowrap;

  @media (max-width: 450px) {
    font-size: 1rem;
  }
}

.tagline {
  font-size: 1.25rem;

  @media (max-width: 450px) {
    font-size: 0.75rem;
  }
}

.button {
  max-width: fit-content;
  align-self: flex-end;
  display: inline-block;
  padding: 5px 12px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: #333;
  }

  @media (max-width: 450px) {
    font-size: 0.7rem;
  }
}

.darkMode {
  background: linear-gradient(
                  to bottom,
                  #3a636c, /* Soft sunset orange */
                  #000336, /* Warm golden yellow */
                  #000336, /* Deeper warm gold */
                  #000336 /* Earthy brown for depth */
  );
}


.backgroundBeam {
  background: #fcf9f2 !important;
  height: 50vh;
}

.darkContainer {
  color: whitesmoke;
  text-align: center;
  background: #161f27 !important;
}

.darkTextContainer {
  background-image: url("/assets/backgrounds/darkModeBg.png ") !important;
}

.lightContainer {
  background: #161f27 !important;
}

.timelineParent {
  background: none !important;
  //background-color: #fcf9f2 !important;

}

.timelineCard {
  //background: #F2D0A7 !important;
  font-family: 'Zain' !important;
  font-size: 20px !important;
}

.firstCard {
  background: #f0c989 !important;
}

.secondCard {
  background: #ec9b6d !important;
}

.thirdCard {
  background: whitesmoke !important;
}

.fourthCard {
  background: #95d1cf !important;
}

.timelineCardDark {
  background: #161f27 !important;
  font-family: 'Zain' !important;
  font-size: 20px !important;
  color: white !important;
}

.timelineTitle {
  font-family: 'Zain' !important;
}

.timelineContent {
  padding-top: 2rem;
  padding-bottom: 2rem;
}