.section3 {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: flex-start !important;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  @media (max-width: 768px) {
    background-attachment: scroll;
  }
}

.baseAnimatedCard {
  background-color: whitesmoke;
}
