.beamColor {
  background: linear-gradient(to bottom, #f87171, #fbbf24); /* from-red-500 to-yellow-500 */

}

.beamColorDark {
  background: linear-gradient(to bottom, white, white); /* from-red-500 to-yellow-500 */

}

.explosionColor {
  background: linear-gradient(to bottom, #f87171, #fbbf24); /* from-red-500 to-yellow-500 */

}

.explosionColorDark {
  background: linear-gradient(to bottom, white, white); /* from-red-500 to-yellow-500 */

}