body, html, #root {
    min-width: 100%;
    /*max-height: 100%;*/
}

#root {
    background-color: #F2E2CE;
    min-height: 50px;
    min-width: 50px;
    height: 100%;
    width: 100%;
}


/* Hide scrollbar for all browsers while keeping scroll functional */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
