body, html, #root {
    min-width: 100%;
}

/* Hide scrollbar for all browsers while keeping scroll functional */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}
